# Bike sharing in Washington
<em>Individual Project Python<em>
___

                              Master in Business Analytics & Big data
                                 Professor Juan Luis Cano Rodriguez
                                           Martin Hofbauer
                                              _________

## Libraries

In [14]:
import dask
import dask.dataframe as dd
import pandas as pd

## Data Loading

In [2]:
hour_data = dd.read_csv(
    "https://gist.githubusercontent.com/geraldwal/b5a83f4c670abe0a662abce558e5d433/raw/bce4bbfc63355606e4503964e25798b5d2190b9b/hour%2520-%2520Python%2520Bike%2520Sharing",
    sep=",",
    parse_dates=["dteday"],
)

In [ ]:
hour_data.head()

In [ ]:
hour_data.info()

In [6]:
new_columns = [
    "instant",
    "dteday",
    "season",
    "year",
    "month",
    "hour",
    "holiday",
    "weekday",
    "workingday",
    "weather",
    "temp",
    "atemp",
    "humidity",
    "windspeed",
    "casual",
    "registered",
    "count",
]
hour_data= hour_data.rename(columns=dict(zip(hour_data.columns, new_columns)))

In [9]:
hour_data["season"] = hour_data.season.astype("category")
hour_data["month"] = hour_data.month.astype("category")
hour_data["hour"] = hour_data.hour.astype("category")
hour_data["holiday"] = hour_data.holiday.astype("category")
hour_data["weekday"] = hour_data.weekday.astype("category")
hour_data["workingday"] = hour_data.workingday.astype("category")
hour_data["weather"] = hour_data.weather.astype("category")
hour_data["year"] = hour_data.year.astype("category")

In [16]:
hour_data.dteday.astype('M8[us]')

Dask Series Structure:
npartitions=1
    datetime64[ns]
               ...
Name: dteday, dtype: datetime64[ns]
Dask Name: astype, 30 tasks

In [17]:
hour_data

Dask DataFrame Structure:
              instant          dteday             season               year              month               hour            holiday            weekday         workingday            weather     temp    atemp humidity windspeed casual registered  count
npartitions=1
                int64  datetime64[ns]  category[unknown]  category[unknown]  category[unknown]  category[unknown]  category[unknown]  category[unknown]  category[unknown]  category[unknown]  float64  float64  float64   float64  int64      int64  int64
                  ...             ...                ...                ...                ...                ...                ...                ...                ...                ...      ...      ...      ...       ...    ...        ...    ...
Dask Name: assign, 28 tasks

In [15]:
hour_data['dteday'].map_partitions(pd.to_datetime, columns='dteday').compute()

ValueError: Metadata inference failed in `to_datetime`.

You have supplied a custom function and Dask is unable to
determine the type of output that that function returns.

To resolve this please provide a meta= keyword.
The docstring of the Dask function you ran should have more information.

Original error is below:
------------------------
TypeError("to_datetime() got an unexpected keyword argument 'columns'",)

Traceback:
---------
  File "C:\Users\Martin\Anaconda3\lib\site-packages\dask\dataframe\utils.py", line 160, in raise_on_meta_error
    yield
  File "C:\Users\Martin\Anaconda3\lib\site-packages\dask\dataframe\core.py", line 3697, in _emulate
    return func(*_extract_meta(args, True), **_extract_meta(kwargs, True))