# Bike sharing in Washington
<em>Individual Project Python<em>
___

                              Master in Business Analytics & Big data
                                 Professor Juan Luis Cano Rodriguez
                                           Martin Hofbauer
                                              _________

## Libraries

In [4]:
import dask
import dask.dataframe as dd
import dask_ml
from dask_ml.preprocessing import Categorizer
import pandas as pd

C:\Users\Martin\Anaconda3\lib\site-packages\dask\config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}

## Data Loading

In [5]:
hour_data = dd.read_csv(
    "https://gist.githubusercontent.com/geraldwal/b5a83f4c670abe0a662abce558e5d433/raw/bce4bbfc63355606e4503964e25798b5d2190b9b/hour%2520-%2520Python%2520Bike%2520Sharing",
    sep=",",
    parse_dates=["dteday"],
)

In [6]:
hour_data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [7]:
hour_data.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 17 entries, instant to cnt
dtypes: datetime64[ns](1), float64(4), int64(12)

In [8]:
new_columns = [
    "instant",
    "dteday",
    "season",
    "year",
    "month",
    "hour",
    "holiday",
    "weekday",
    "workingday",
    "weather",
    "temp",
    "atemp",
    "humidity",
    "windspeed",
    "casual",
    "registered",
    "count",
]
hour_data= hour_data.rename(columns=dict(zip(hour_data.columns, new_columns)))

In [9]:
hour_data["season"] = hour_data.season.astype("category")
hour_data["month"] = hour_data.month.astype("category")
hour_data["hour"] = hour_data.hour.astype("category")
hour_data["holiday"] = hour_data.holiday.astype("category")
hour_data["weekday"] = hour_data.weekday.astype("category")
hour_data["workingday"] = hour_data.workingday.astype("category")
hour_data["weather"] = hour_data.weather.astype("category")
hour_data["year"] = hour_data.year.astype("category")

In [ ]:
hour_data.dteday.astype('M8[us]')

In [10]:
hour_data.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 17 entries, instant to count
dtypes: category(8), datetime64[ns](1), float64(4), int64(4)

In [11]:
hour_data

Dask DataFrame Structure:
              instant          dteday             season               year              month               hour            holiday            weekday         workingday            weather     temp    atemp humidity windspeed casual registered  count
npartitions=1
                int64  datetime64[ns]  category[unknown]  category[unknown]  category[unknown]  category[unknown]  category[unknown]  category[unknown]  category[unknown]  category[unknown]  float64  float64  float64   float64  int64      int64  int64
                  ...             ...                ...                ...                ...                ...                ...                ...                ...                ...      ...      ...      ...       ...    ...        ...    ...
Dask Name: assign, 28 tasks

In [12]:
ce = Categorizer

In [20]:
columns_ : pd.Index

In [21]:
ce.fit_transform(hour_data).dtypes

TypeError: fit_transform() missing 1 required positional argument: 'X'

In [16]:
hour_data["season"] = hour_data.compute((pd.DatetimeIndex(hour_data["dteday"]).month % 12 + 3) // 3)
#print(hour_data.groupby("season").apply(lambda x: x["month"].unique()))

AssertionError: <class 'dask.dataframe.core.Series'>

In [10]:
hour_data.dtypes

instant                int64
dteday        datetime64[ns]
season              category
year                category
month               category
hour                category
holiday             category
weekday             category
workingday          category
weather             category
temp                 float64
atemp                float64
humidity             float64
windspeed            float64
casual                 int64
registered             int64
count                  int64
dtype: object

In [17]:
hour_data_norm_subset = hour_data.loc[:, "temp":"windspeed"]

hour_data2 = preprocessing.normalize(hour_data_norm_subset)

hour_data3 = pd.DataFrame(hour_data2)

hour_data3.columns = ["temp", "atemp", "humidity", "windspeed"]

hour_data["temp"] = hour_data3["temp"]
hour_data["temp"] = hour_data3["atemp"]
hour_data["windspeed"] = hour_data3["windspeed"]
hour_data["humidity"] = hour_data3["humidity"]

NameError: name 'preprocessing' is not defined

In [17]:
ce = Categorizer()

SyntaxError: invalid syntax (<ipython-input-1-2ee9ef5666a7>, line 1)